<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.js" integrity="sha512-1lagjLfnC1I0iqH9plHYIUq3vDMfjhZsLy9elfK89RBcpcRcx4l+kRJBSnHh2Mh6kLxRHoObD1M5UTUbgFy6nA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous"></script>
    <title>SAML Test</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">SP-Test</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/oidc">OIDC<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/clientCredentials">OIDC ClientCredentials<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/saml">SAML<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/lizzyTheLizard/sp-test">Source</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">

      <form id="oidc">
        <h1>OIDC Client Credentials Test</h1>
        <div class="form-group">
          <label for="tokenEndpoint">Token Endpoint</label>
          <input type="url" class="form-control" name="tokenEndpoint" id="tokenEndpoint" required>
        </div>
        <div class="form-group">
          <label for="clientId">Client ID</label>
          <input type="text" class="form-control" name="clientId" id="clientId" required>
        </div>
        <div class="form-group">
          <label for="clientSecret">Client Secret</label>
          <input type="text" class="form-control" name="clientSecret" id="clientSecret" required>
        </div>
        <div class="form-group">
          <label for="">Scope</label>
          <input type="text" value="openid profile email" class="form-control" name="scope" id="scope" aria-describedby="scopeHelp">
          <small id="scopeHelp" class="form-text text-muted">Multiple scopes must be seperated by a space</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <h1 class="oidcToken">OIDC Client Credentials Results</h1>
        <div class="form-group oidcToken">
          <label for="accessToken">Access Token</label>
          <input type="text" class="form-control" name="accessToken" id="accessToken" readOnly>
        </div>
        <div class="form-group oidcToken">
          <label for="expiresIn">Expires In</label>
          <input type="text" class="form-control" name="expiresIn" id="expiresIn" readOnly>
        </div>
        <div class="form-group oidcToken">
          <label for="tokenType">Token Type</label>
          <input type="text" class="form-control" name="tokenType" id="tokenType" readOnly>
        </div>
        <div class="form-group oidcRefreshToken">
          <label for="refreshToken">Refresh Token</label>
          <input type="text" class="form-control" name="refreshToken" id="refreshToken" readOnly>
        </div>
        <a class="btn btn-primary oidcToken" id="accessTokenLink" target="_blank">Parse Access Token</a>
        <a class="btn btn-primary oidcRefreshToken" id="refreshTokenLink" target="_blank">Parse Refresh Token</a>
        <h1 class="oidcError">OIDC Client Credentials Errors</h1>
        <div class="form-group oidcError">
          <label for="error">Error</label>
          <input type="text" class="form-control" name="error" id="error" readOnly>
        </div>
        <div class="form-group oidcError">
          <label for="errorDescription">Error Description</label>
          <input type="text" class="form-control" name="errorDescription" id="errorDescription" readOnly>
        </div>
        <div class="form-group oidcError">
          <label for="errorUri">Error URI</label>
          <input type="text" class="form-control" name="errorUri" id="errorUri" readOnly>
        </div>

      </form>

    <script>
      let oidcForm  = document.getElementById('oidc');

      function updateVisabilities(){
        //Depending on type, hide different parts of the UI
        //Done here in a quite ugly way...
        var selects = document.getElementsByClassName("oidcError");
        for(var i =0, il = selects.length;i<il;i++){
          if(oidcForm.elements['error'].value) {
            console.log('Remove d-none', selects[i])
            selects[i].className = selects[i].className.replaceAll('d-none', '');
          } else {
            console.log('Add d-none', selects[i])
            selects[i].className += " d-none";
          }
          console.log(selects[i].className)
        }

        var selects = document.getElementsByClassName("beforeRequest");
        for(var i =0, il = selects.length;i<il;i++){
          if(!oidcForm.elements['accessToken'].value && !oidcForm.elements['error'].value) {
            selects[i].className = selects[i].className.replaceAll('d-none', '');
          } else {
            selects[i].className += " d-none";
          }
        }

        var selects = document.getElementsByClassName("oidcToken");
        for(var i =0, il = selects.length;i<il;i++){
          if(oidcForm.elements['accessToken'].value) {
            selects[i].className = selects[i].className.replaceAll('d-none', '');
          } else {
            selects[i].className += " d-none";
          }
        }  

        var selects = document.getElementsByClassName("oidcRefreshToken");
        for(var i =0, il = selects.length;i<il;i++){
          if(oidcForm.elements['refreshToken'].value) {
            selects[i].className = selects[i].className.replaceAll('d-none', '');
          } else {
            selects[i].className += " d-none";
          }
        }  
      }

      function tokenRequest(){

        //Get the data as need to be send in OIDC Request
        let tokenEndpoint = oidcForm.elements['tokenEndpoint'].value;
        let clientId = oidcForm.elements['clientId'].value;
        let clientSecret = oidcForm.elements['clientSecret'].value;
        let scope = oidcForm.elements['scope'].value;

        //We cannot do client credentials from the browser due to CORS issues... We have to route this through the backend
        //Except for this, we do a "normal" client credentials request
        var currentUrl = new URL(window.location.href);
        const url = new URL(currentUrl.origin + "/clientCredentialsRequest");
        url.searchParams.set('tokenEndpoint', tokenEndpoint);

        var xhr = new XMLHttpRequest();
        xhr.open("POST", url, true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader("Authorization", "Basic " + btoa(clientId + ":" + clientSecret));
        xhr.send("grant_type=client_credentials&scope=" + encodeURIComponent(scope));
        xhr.onload = function() {
          var data = JSON.parse(this.responseText);
          console.log(data); 

          oidcForm.elements['error'].value = data.error ?? null;
          oidcForm.elements['errorDescription'].value = data.error_description ?? null;
          oidcForm.elements['errorUri'].value = data.error_uri ?? null;
          oidcForm.elements['refreshToken'].value = data.refresh_token ?? null;
          oidcForm.elements['accessToken'].value = data.access_token ?? null;
          oidcForm.elements['tokenType'].value = data.token_type ?? null;
          oidcForm.elements['expiresIn'].value = data.expires_in ?? null;
          document.getElementById('accessTokenLink').href = "https://jwt.io/#debugger-io?token=" + oidcForm.elements['accessToken'].value;
          document.getElementById('refreshTokenLink').href  = "https://jwt.io/#debugger-io?token=" + oidcForm.elements['refreshToken'].value;

          updateVisabilities();
        };
      }

      updateVisabilities();

      // The form for submitting the code request
      oidcForm.addEventListener('submit', (event) => {
        //Never submit the actual form
        event.preventDefault();
        tokenRequest();
      });
    </script>
  </body>
</html>