<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.js" integrity="sha512-1lagjLfnC1I0iqH9plHYIUq3vDMfjhZsLy9elfK89RBcpcRcx4l+kRJBSnHh2Mh6kLxRHoObD1M5UTUbgFy6nA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous"></script>
    <title>SAML Test</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">SP-Test</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/oidc">OIDC<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clientCredentials">OIDC ClientCredentials<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/saml">SAML<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/lizzyTheLizard/sp-test">Source</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      
      <form id="oidc">
        <h1 class="oidcToken">OIDC Result</h1>
        <div class="form-group oidcToken">
          <label for="state">State</label>
          <input type="text" class="form-control" name="state" id="state" readOnly>
        </div>
        <div class="form-group oidcToken">
          <label for="idToken">ID Token</label>
          <input type="text" class="form-control" name="idToken" id="idToken" readOnly>
        </div>
        <div class="form-group oidcToken">
          <label for="accessToken">Access Token</label>
          <input type="text" class="form-control" name="accessToken" id="accessToken" readOnly>
        </div>
        <div class="form-group oidcToken">
          <label for="expiresIn">Expires In</label>
          <input type="text" class="form-control" name="expiresIn" id="expiresIn" readOnly>
        </div>
        <div class="form-group oidcToken">
          <label for="tokenType">Token Type</label>
          <input type="text" class="form-control" name="tokenType" id="tokenType" readOnly>
        </div>
        <div class="form-group oidcRefreshToken">
          <label for="refreshToken">Refresh Token</label>
          <input type="text" class="form-control" name="refreshToken" id="refreshToken" readOnly>
        </div>
        <a class="btn btn-primary oidcToken" id="idTokenLink" target="_blank">Parse ID Token</a>
        <a class="btn btn-primary oidcToken" id="accessTokenLink" target="_blank">Parse Access Token</a>
        <a class="btn btn-primary oidcRefreshToken" id="refreshTokenLink" target="_blank">Parse Refresh Token</a>
        <h1 class="oidcError">OIDC Error</h1>
        <div class="form-group oidcError">
          <label for="error">Error</label>
          <input type="text" class="form-control" name="error" id="error" readOnly>
        </div>
        <div class="form-group oidcError">
          <label for="errorDescription">Error Description</label>
          <input type="text" class="form-control" name="errorDescription" id="errorDescription" readOnly>
        </div>
        <div class="form-group oidcError">
          <label for="errorUri">Error URI</label>
          <input type="text" class="form-control" name="errorUri" id="errorUri" readOnly>
        </div>

      </form>
    </div>

    <script>
      let oidcForm  = document.getElementById('oidc');

      function updateVisabilities(){
        //Depending on type, hide different parts of the UI
        //Done here in a quite ugly way...

        var selects = document.getElementsByClassName("oidcError");
        for(var i =0, il = selects.length;i<il;i++){
          if(oidcForm.elements['error'].value) {
            selects[i].className = selects[i].className.replaceAll('d-none', '');
          } else {
            selects[i].className += " d-none";
          }
        }

        var selects = document.getElementsByClassName("oidcToken");
        for(var i =0, il = selects.length;i<il;i++){
          if(oidcForm.elements['accessToken'].value) {
            selects[i].className = selects[i].className.replaceAll('d-none', '');
          } else {
            selects[i].className += " d-none";
          }
        }  

        var selects = document.getElementsByClassName("oidcRefreshToken");
        for(var i =0, il = selects.length;i<il;i++){
          if(oidcForm.elements['refreshToken'].value) {
            selects[i].className = selects[i].className.replaceAll('d-none', '');
          } else {
            selects[i].className += " d-none";
          }
        }              
      }

      //Check if return is hash (common with implicit flow or not)
      if(window.location.hash) {
        //For simplicity, just replace the # with a ? => Not nice but OK here
        console.log('this is a hash, redirect...')
        window.location.href = window.location.href.replace('#', '?');
      }

      //Parse URL
      var url = new URL(window.location.href);
      oidcForm.elements['state'].value = url.searchParams.get("state");
      oidcForm.elements['error'].value = url.searchParams.get("error");
      oidcForm.elements['errorDescription'].value = url.searchParams.get("error_description");
      oidcForm.elements['errorUri'].value = url.searchParams.get("error_uri");
      oidcForm.elements['idToken'].value = url.searchParams.get("id_token");
      oidcForm.elements['accessToken'].value = url.searchParams.get("access_token");
      oidcForm.elements['tokenType'].value = url.searchParams.get("token_type");
      oidcForm.elements['expiresIn'].value = url.searchParams.get("expires_in");
      document.getElementById('accessTokenLink').href = "https://jwt.io/#debugger-io?token=" + oidcForm.elements['accessToken'].value;
      document.getElementById('idTokenLink').href = "https://jwt.io/#debugger-io?token=" + oidcForm.elements['idToken'].value;
      document.getElementById('refreshTokenLink').href  = "https://jwt.io/#debugger-io?token=" + oidcForm.elements['refreshToken'].value;

      //If there is a code, make a token request
      if(url.searchParams.get("code")) {
        //Get the data as need to be send in OIDC Request
        let tokenEndpoint = localStorage.getItem('tokenEndpoint');
        let code = url.searchParams.get("code");
        let redirectUri = localStorage.getItem('redirectUri');
        let clientId = localStorage.getItem('clientId');

        var xhr = new XMLHttpRequest();
        xhr.open("POST", tokenEndpoint, true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send("grant_type=authorization_code&code="+ code + "&client_id="+clientId+"&redirect_uri=" + redirectUri);
        xhr.onload = function() {
          var data = JSON.parse(this.responseText);
          oidcForm.elements['error'].value = data.error ?? null;
          oidcForm.elements['errorDescription'].value = data.error_description ?? null;
          oidcForm.elements['errorUri'].value = data.error_uri ?? null;
          oidcForm.elements['idToken'].value = data.id_token ?? null;
          oidcForm.elements['refreshToken'].value = data.refresh_token ?? null;
          oidcForm.elements['accessToken'].value = data.access_token ?? null;
          oidcForm.elements['tokenType'].value = data.token_type ?? null;
          oidcForm.elements['expiresIn'].value = data.expires_in ?? null;
          document.getElementById('accessTokenLink').href = "https://jwt.io/#debugger-io?token=" + oidcForm.elements['accessToken'].value;
          document.getElementById('idTokenLink').href = "https://jwt.io/#debugger-io?token=" + oidcForm.elements['idToken'].value;
          document.getElementById('refreshTokenLink').href  = "https://jwt.io/#debugger-io?token=" + oidcForm.elements['refreshToken'].value;
          updateVisabilities();
        };
      } else {
        updateVisabilities();
      }
  
    </script>
  </body>
</html>
